* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.input-custom{
	width: 140px;
    position: relative;
    border: none !important;
    border-radius: 0px;
    font-weight: normal;
    display: inline !important;
    font-family: 'Questrial';
    font-size: 16px;
}
.lupa{
	font-family: 'FontAwesome';
    color: #a5a5a5;
    font-size: 22px;
    font-weight: normal;
	top: 2px;
    position: relative;
}
.buscadorRight{
	float: right;
    margin-top: 25px;
}
.tags{
	width: 110px;
    height: 28px;
    position: absolute;
    top: 50px;
    left: 35px;
    font-family: 'Poppins';
    color: rgb(255, 255, 255);
    border-radius: 0px;
    border: none;
}
.hasScrolled{
	background: white !important;
	border: 1px solid rgb(247, 247, 247) !important;
}

.hasScrolled a.font-menu{
	color: #050218 !important;
}
.ham2, .ham2:after, .ham2:before{
	background: #050218 !important;
}
.menu-2, .menu-2:after{
	color: #050218 !important;
}
.video-360{
	width: 140px;
	height: 44px;
	border-radius: 0px;
	border: none;
	background: white;
	color: rgb(33, 33, 33);
	font-family: 'Questrial';
	font-size: 14px;
	line-height: 34px;
	border: 1px solid rgb(216, 221, 228);
	margin-bottom: 20px;
}
.video-360:hover{
	color: rgb(33, 33, 33) !important;
}
.textos-detalle-propiedad{
	font-family: 'Questrial';
	font-size: 16px;
	line-height: 36px;
	color: rgb(0,0,0);
	font-weight: normal;
	padding: 20px;
}
.textos-generales-propiedad{
	font-family: 'Questrial';
	font-size: 16px;
	line-height: 27px;
	color: rgb(94, 94, 94);
	font-weight: normal;
	padding: 10px;
}
.solicitar-informes{
	width: 100%;
	height: 45px;
	border-radius: 0px;
	border: none;
	background: rgb(217, 39, 65);
	color: white;
	font-family: 'Questrial';
	font-size: 16px;
}
.solicitar-informes:hover,.solicitar-informes:focus,.solicitar-informes:active,.solicitar-informes:visited{
	color: white !important;
}
.precio_detalle{
	color: rgb(132, 132, 132);
	font-family: 'Questrial';
	font-size: 14px;
	font-weight: normal;
}
.precio_detalle_cantidad{
	color: rgb(17, 22, 29);
	font-weight: 500;
	font-family: 'Poppins';
	font-size: 14px;
}
.estado_propiedad{
	font-family: 'Questrial';
	font-size: 13px;
	color: rgb(102, 102, 102);
	font-weight: normal;
}
.close-modal-1 {
    position: absolute;
    top: -65px;
    right: 0px;
    color: rgb(255 255 255);
    font-size: 50px;
    font-weight: lighter;
    transition: 0.3s;
    cursor: pointer;
}
.boton-enter-room {
    width: 190px;
    height: 36px;
    background-color: rgb(15, 17, 26);
    font-family: Montserrat;
    line-height: 24px;
    color: rgb(255, 255, 255);
    border-radius: 0px;
    border: none;
}
.boton-enter-room:hover{
	color: white !important;
}
.input-modal-room {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(205, 205, 205);
    max-width: 360px;
    width: 100%;
    height: 35px;
    font-family: 'Questrial';
    font-size: 14px;
    color: rgb(186, 186, 186);
    text-align: center;
    padding-left: 8px;
}
.modal {
    background: rgb(14, 17, 26);
    z-index: 999999;
}
.modal-dialog {
    position: relative;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.recuadroTituloPropiedad{
	color:rgb(102, 102, 102);
	font-family: 'Questrial';
	font-size: 13px;
	font-weight: normal;
	position: relative;
	bottom: 5px;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.hover_black:hover{
	color: black !important;
}
.contenedorTextos{
	max-width: 870px;
	width: 100%;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.contenedorPropiedades{
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.columnas{
	-moz-column-count: 2;-moz-column-gap: 100px;-webkit-column-count: 2;-webkit-column-gap: 100px;column-count: 2;column-gap: 100px;
}
.miniTitulo{
	color: rgb(94, 94, 94);
	font-family: 'Poppins';
	font-size: 16px;
	font-weight: 500;
}
.formatoTitulosImpetum{
	color: rgb(5, 0, 23);
    font-family: 'Raleway';
    font-size: 18px;
    padding-top: 95px;
    padding-bottom: 95px;
    text-align: center;
    font-weight: 900;
}
.textosGenericos{
	font-family: 'Questrial';
    font-size: 16px;
    line-height: 27px;
    color:rgb(0,0,0);
}
.subtituloImpetum{
	font-size: 18px;
	font-family: 'Poppins';
	color: rgb(66, 66, 66);
	font-weight: 600;
	line-height: 28px;
}
.redRule{
	width: 75px;
	height: 1px;
	background: rgb(217 52 66);
	position: relative;
	display: inline-grid;
	top: 15px;
}
#verPropiedades{
	border: none;
	width: 170px;
	height: 45px;
	background: #FFF;
	border-radius: 0px;
	font-family: 'Questrial';
	color: rgb(5, 0, 23);
	font-size: 13px;
}
#verDesarrollos{
	border: 1px solid #FFFFFF;
	width: 170px;
	height: 45px;
	background: rgb(5, 0, 23);
	border-radius: 0px;
	font-family: 'Questrial';
	color: white;
	font-size: 13px;
}
.modal{
	overflow: scroll !important;
}
.links{
	font-family:'Poppins';
	font-size:12px;
	color:white;
	text-decoration:none;
}
.links a{
	font-family:'Poppins';
	font-size:12px;
	color:white;
	text-decoration:none;
}
.links-menu-footer a {
    font-family: 'Poppins';
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#logo-footer{
	width: 100%;
	max-width: 340px;
	padding-left: 15px;
	padding-right: 15px;
}
#footer-general{
	background: rgb(5, 0, 23);
	width: 100%;
	padding-top:55px;
	padding-bottom: 30px;
	height: auto;
	text-align: center;
	position:relative;
}
#menu-init{
	float: right;
}
#contenedor-general{
	margin-top: 85px;	
}
ul#menu-init li{
	display:inline;
}
.font-menu{
	font-family: 'Questrial';
	font-size: 14px;
	color:white;
	text-decoration: none;
	margin-right: 15px;
}
.font-menu:hover{
	font-family: 'Questrial';
	font-size: 14px;
	color:white;
	text-decoration: none;
	margin-right: 15px;
	cursor: pointer;
}
#content-head{
	max-width: 1160px;
	margin: auto;
	width: 100%;
	height: 100%;
}
.hi:after {
	content: 'CERRAR' !important;
	font-family: 'Montserrat';
	font-size: 11px;
	color: rgb(169, 169, 169);
}
#menu:after{
	content: 'MENÚ';
	font-family: 'Montserrat';
	font-size: 11px;
	color: #FFF;
}
#parallaxPalm {
    background-image: url(../img/Desktop/8_PARALLAX_ThinkableCoaching_desktop.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    margin: auto;
}
.swal2-show{
	font-family: 'Montserrat' !important;
}
[data-notify-text], [data-notify-html] {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
}
#homeImage{
	position: relative;
    width: 100%;
}
#elenaImage{
	position:relative;
	width: 100%;
}
#coachingImage{
	position:relative;
	width: 100%;
}
#tunelImage{
	position: relative;
    width: 100%;
}
#tunelImageMoviles{
	position: relative;
    width: 100%;
}
#newsletterlImage{
	position: relative;
    width: 100%;
}
#newsletterlImageMoviles{
	position: relative;
    width: 100%;
}
.centrado {
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(5%, -50%);
    max-width: 460px;
    width: 100%;
    text-align: right;
    line-height: 38px;
}
.tituloPrincipalHome{
	font-family: 'Montserrat';
    color: white;
    font-weight: 600;
    font-size: 32px;
    margin: auto;
    top: 250px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 44px;
}
.centrado-elena {
    font-family: 'Poppins';
    color: black;
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translate(5%, -50%);
    max-width: 420px;
    width: 100%;
    text-align: right;
    line-height: 38px;
}
.parent-coaching {
    font-family: 'Poppins';
    color: black;
    font-weight: 600;
    font-size: 28px;
    width: 100%;
    text-align: left;
    line-height: 36px;
}
.centrado2 {
    font-family: 'Raleway';
    color: black;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(5%, -50%);
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 36px;
}
.centrado3 {
    font-family: 'Raleway';
    color: black;
    font-weight: 600;
    font-size: 26px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 36px;
}
#conoceMas{
	border: 1px solid #212121;
	width: 364px;
	height: 78px;
	background: transparent;
	border-radius: 0px;
	font-family: 'Josefin Sans';
	color: #FFFFFF;
	font-size: 16px;
}
#conoceMas2{
	border: 1px solid #000000;
	width: 364px;
	height: 78px;
	background: transparent;
	border-radius: 0px;
	font-family: "Josefin Sans";
    letter-spacing: 0px;
    font-size: 22px;
    font-weight: 800;
}
#newsletterBtn{
	border: 1px solid #000;
	width: 264px;
	height: 78px;
	background: transparent;
	border-radius: 0px;
	font-family: 'Josefin Sans';
	color: #000000;
	font-size: 18px;
}
.agente-card {
    width: 100%;
    border: 1px solid rgb(216, 221, 228);
    background: #FFF;
    margin-bottom: 50px;
    overflow: auto;
}
.agente-text{
	font-family: 'Mulish';
	font-size: 16px;
	line-height: 36px;
}
.agente-img-div {
    max-width: 300px;
    width: 100%;
    background: white;
    float: left;
}
.div-agente-text {
    width: 53%;
    padding: 19px;
    padding-left: 50px;
    padding-top:28px;
    line-height: 32px;
    float: left;
}
.trabajaConNostros{
	font-family: 'Poppins';
	font-size: 18px;
	color:rgb(66, 66, 66);
	font-weight: 500;
}
.trabajaTexto{
	color: rgb(94, 94, 94);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}
.verTodas{
	border: 1px solid rgb(216, 221, 228);
	width: 100%;
	height: 44px;
	background: transparent;
	border-radius: 0px;
	font-family: 'Questrial';
	color: rgb(131, 134, 139);
	font-size: 13px;
}
.verTodas:hover,.verTodas:visited,.verTodas:focus{
	color: rgb(169, 169, 169);
}
#scroll {
    font-family: 'Raleway';
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: 20px;
    left: 20;
    text-align: center;
    line-height: 28px;
}
#subtituloHome{
	font-size: 24px;
	font-family: 'Raleway';
	line-height: 36px;
}
#subtituloHome2{
	font-size: 18px;
	font-family: 'Raleway';
	line-height: 28px;
	font-weight: normal;
}
.tituloEspecial{
	width:100%;
	margin-top:45px;
	margin-bottom:40px;
	font-family:'Raleway';
	font-size:26px;
	font-weight:bold;
	line-height:36px;
	color:#141414;
}
.tituloEspecialCentrado{
	width:100%;
	margin-bottom:15px;
	font-family:'Raleway';
	font-size:32px;
	text-align: center;
	font-weight:bold;
	line-height:44px;
	color:#141414;
}
.tituloEspecialCentrado2{
	width:100%;
	margin-bottom:15px;
	font-family:'Raleway';
	font-size:28px;
	text-align: center;
	font-weight:bold;
	line-height:44px;
	color:#141414;
}
.solicita-consulta-home{
	color:#8C949E;
	cursor: pointer;
	font-family: "Josefin Sans";
    letter-spacing: 0px;
    font-size: 19px;
    font-weight: 600;
}
.solicita-consulta-home1{
	color:#000000;
	cursor: pointer;
	font-family: "Josefin Sans";
    letter-spacing: 0px;
    font-size: 22px;
    font-weight: 800;
}
.centrado1 {
    font-family: 'Nunito Sans';
    color: black;
    font-weight: normal;
    font-size: 18px;
    position: sticky;
    margin-top: 55px;
    left: 50%;
    max-width: 441px;
    width: 100%;
    text-align: left;
    line-height: 28px;
}
.titulosLeft{
	width:100%;
	margin-top:55px;margin-bottom:40px;
	font-family:'Raleway';
	font-size:24px;
	font-weight:bold;
	line-height: 36px;
	color:#141414;
}
.titulosLeft2{
	width:100%;
	margin-top:25px;margin-bottom:30px;
	font-family:'Raleway';
	font-size:24px;
	font-weight:bold;
	line-height: 36px;
	color:#141414;
}
.titulosLeft3{
	width:100%;
	margin-top:50px;margin-bottom:10px;
	font-family:'Raleway';
	font-size:24px;
	font-weight:bold;
	line-height: 36px;
	color:#141414;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.font-general{
	margin:0px;
	padding:0px;
	font-family:'Nunito Sans';
	font-size:21px;
	line-height:32px;
	color:black;
}
.textImageHome{
	width:100%;
	padding:30px;
	font-family:'Raleway';
	font-size:24px;
	font-weight:bold;
	line-height:36px;
	color:#141414;
	text-align:center;
}
/*Estilo header*/
#header{
	width: 100%;
	background: rgb(5, 0, 23);
	height: 85px;
	line-height: 85px;
	position: fixed;
	top: 0;
	z-index: 999;
}
.link-volver{
	color:rgb(117, 149, 200);
	font-family: 'Raleway';
	letter-spacing: 1px;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}
.link-volver:hover,.link-volver:visited,.link-volver:focus{
	color:rgb(117, 149, 200);
	font-family: 'Raleway';
	letter-spacing: 1px;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}
.padding-center-left{
	padding-right: 29px;
}
.padding-center-right{
	padding-left: 29px;
}
#logo{
	width: 190px;
	margin-top: 18px;
	margin-left: 20px;
}
#texto_entrada a{
	color: rgb(9, 50, 120);
	text-decoration: none;
}
#texto_entrada img{
	width: 100%;
}
#menu{
	float: right;
}
#menu a{
	text-decoration: none;
	font-family: 'Montserrat';
	color: rgb(0, 0, 34);
    font-size: 13px;
    cursor: pointer;
}
#footer{
	width: 100%;
	height: 36px;
	background: #9FA7B1;
	position: fixed;
	z-index: 5;
	bottom: 0;    
	border-top: 1px solid white;
}
/*Link de acceso a socios*/
.datos-footer{
	line-height: 36px;
	font-family: 'Montserrat';
	font-size: 13px;
	color: white;
	height: 100%;
	float: left;
	padding-left: 30px;
}
/*Link de acceso a socios*/
.solicite-consulta{
	height: 100%;
	float: right;
	width: 231px;
	border-left: 1px solid #FFF;
	line-height: 36px;
	font-family: 'Montserrat';
	font-size: 13px;
	color: white;
	text-align: center;
	cursor: pointer;
}
/*Link de acceso a socios icon*/
.solicite-consulta img{
	position: relative;
	top: 5px;
}

.inputLogin {
    background: white;
    max-width: 304px;
    height: 35px;
    font-family: 'Poppins';
    font-size: 13px;
    color: rgb(186, 186, 186);
    border-radius: 7px;
    margin: auto;
    margin-top: 28px;
    width: 100%;
}
.btnLogin {
    background-color: rgb(136, 196, 235);
    font-size: 14px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    max-width: 304px;
    height: 35px;
    font-family: 'Montserrat';
    line-height: 20px;
    width: 100%;
    margin-top: 28px;
}
.btnLogin:hover, .btnLogin:active, .btnLogin:focus{
    background-color: rgb(136, 196, 235);
    font-size: 14px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    max-width: 304px;
    height: 35px;
    font-family: 'Montserrat';
    line-height: 20px;
    width: 100%;
    margin-top: 28px;
}

/* ESTILOS PARA EL ADMINISTRADOR */

.adminContainer{
	max-width: 1200px;
	width: 100%;
	border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}
.titleAdmin{
	font-family: 'Montserrat';
    letter-spacing: 1px;
    color: rgb(66, 66, 66);
    font-weight: 500;
    font-size: 18px;
}
.labelAdmin{
	font-family: 'Poppins';
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.btnModifyAdmin{
	color: rgb(255, 255, 255);
    border-style: solid;
    font-family: 'Montserrat';
    letter-spacing: 0px;
    background-color: rgb(169, 169, 169);
    font-size: 14px;
    border-width: 1px;
    border-radius: 7px;
    border-color: rgb(160, 160, 160);
    width: 100%;
    height: 36px;
}
.btn-default{
	font-family: 'Montserrat';
}
.btnModifyAdmin:hover, .btnModifyAdmin:visited, .btnModifyAdmin:focus{
	color: rgb(255, 255, 255);
}
.btnModifyAdmin:hover, .btnModifyAdmin:visited, .btnModifyAdmin:focus{
	color: rgb(255, 255, 255);
}
.btnSubmitAdmin{
	color: rgb(255, 255, 255);
    border-style: solid;
    font-family: Montserrat;
    letter-spacing: 0px;
    background-color: rgb(17, 24, 56);
    font-size: 14px;
    border-width: 1px;
    border-radius: 7px;
    border-color: rgb(0, 37, 118);
    width: 100%;
    height: 36px;
    max-width: 195px;
}
.btnSubmitAdmin:hover, .btnSubmitAdmin:visited, .btnSubmitAdmin:focus{
	color: rgb(255, 255, 255);
}
.btnSubmitAdmin:hover, .btnSubmitAdmin:visited, .btnSubmitAdmin:focus{
	color: rgb(255, 255, 255);
}

.right-position {
    float: right;
    margin-top: 16px;
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
    width: 50%;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 5;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 118px; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 50px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  padding-left: 25%;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  padding-bottom: 22px;
  text-decoration: none;
  font-family: 'Questrial';
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 22px;
  font-weight: 400;
  color: #000;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#footer-mobile{
	background: #9FA7B1;
	width: 100%;
	height:auto;
	text-align: center;
}
#menu-footer{
	line-height: 36px;
}
#menu-footer a{
	font-family: 'Montserrat';
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}
.btnFooter{
	width: 200px;
    height: 51px;
    display: inline;
    background: #9FA7B1;
    padding: 15px 40px;
    font-weight: 500;
    color: #FFF;
    border: 1px solid #FFF;
    font-family: 'Montserrat';
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}
.titulos{
	font-family: 'Poppins';
	color: #141414;
	font-size: 21px;
	font-weight: 600;
	line-height: 30px;
}
.textos{
	line-height: 28px;
	color: rgb(0, 0, 0);
	font-family: 'Muli';
	font-size: 16px;
	text-align: left;
}
.textos-muli{
	line-height: 32px;
	color: rgb(0, 0, 0);
	font-family: 'Muli';
	font-size: 16px;
	letter-spacing: 1px;
	text-align: left;
}
.divide{
	column-count: 2;
}
.maxContent{
	width: 100%;
	margin: auto;
	max-width: 1060px;
	padding: 0px 30px;
}
.maxContentEntrada{
	width: 100%;
	margin: auto;
	max-width: 1100px;
	padding: 0px 30px;
}
.maxContentEntrada p{
	padding: 0px 15px;
} 
.maxContentNoticias{
	width: 100%;
	margin: auto;
	max-width: 1070px;
	padding: 0px 30px;
}
.newsletter{
	background: rgb(224, 225, 227);
	width: 100%;
	overflow: hidden;
}
.newsletter1{
	background: rgb(241, 241, 243);
	width: 100%;
	overflow: hidden;
}
.newsletter2 {
    background: rgb(249, 249, 249);
    width: 100%;
    overflow: hidden;
}
.tituloEntrada{
	font-family: 'Poppins';
	font-size: 20px;
	color:rgb(115, 147, 201);
	font-weight: 600;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.tituloEntradaRosa{
	font-family: 'Poppins';
	font-size: 12px;
	letter-spacing: 1px;
	color:rgb(244, 89, 120);
	font-weight: 600;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.textoEntrada{
	font-family: 'Muli';
	font-size: 15px;
	color:rgb(0,0,0);
	line-height: 28px;
}
.subtituloEntrada{
	font-family: 'Mulish';
	font-size: 16px;
	line-height: 32px;
	font-weight: normal;
	color: rgb(0,0,0);
}
.preciosPropiedades{
	font-family: 'Poppins';
	font-size: 14px;
    font-weight: 500;
    color: rgb(17, 22, 29);
}
.descripcionIntro{
	font-family: 'Questrial';
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: rgb(94,94,94);
}
.tituloDirectiva{
	font-family: 'Raleway';
	font-size: 16px;
	color:rgb(19, 30, 52);
	font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
}
.textoPuesto{
	font-family: 'Raleway';
	font-size: 16px;
	color:rgb(94, 94, 94)
	font-weight: 500;
	text-align: center;
}
.meinteresa{
	color: rgb(52, 67, 88);
	border: 1px solid rgb(183 190 196);
	background: transparent !important;
	margin-bottom: 40px;
	font-family: 'Questrial';
	font-size: 13px;
	height: 38px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.verPropiedad{
	color: rgb(5, 0, 23);
	border: none;
	background: transparent !important;
	margin-bottom: 40px;
	font-family: 'Questrial';
	font-size: 13px;
	height: 38px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.leermas{
	font-family: 'Josefin Sans';
	font-size: 10px;
	background: rgb(239, 241, 244);
	color:rgb(145, 145, 145);
	line-height: 24px;
	height:24px;
	border-radius: 15px;
	letter-spacing: 1px;
	border: none;
	width: 78px;
	margin-bottom: 40px;
}
.leermas:hover{
	font-family: 'Josefin Sans';
	font-size: 10px;
	background: rgb(239, 241, 244);
	color:rgb(145, 145, 145);
	line-height: 24px;
	height:24px;
	border-radius: 15px;
	text-decoration: none;
	letter-spacing: 1px;
	border: none;
	width: 78px;
}
.entrada{
	padding: 30px 15px;
	height:550px;
}
.img-responsive{
	width: 100%;
}
.texto-grande{
	color: rgb(0,0,0);
	font-family: 'Raleway';
    letter-spacing: 1px;
    font-size: 22px;
    line-height: 37px;
    font-weight: 500;
}
.texto-pdf{
	color: rgb(146, 146, 146);
    font-family: 'Raleway';
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
}
.pdf-icon{
	position: relative;
    top: 8px;
}
.titulo-directorio{
	color: rgb(0, 0, 0);
    font-family: 'Raleway';
    letter-spacing: 1px;
    font-size: 26px;
    font-weight: bold;
}
.tituloFormularios{
	font-family: 'Questrial';
	font-size: 21px;
	color: rgb(0,0,0);
}
.inputForm {
    background: white;
    max-width: 543px;
    height: 35px;
    font-family: 'Raleway';
    font-size: 13px;
    color: rgb(121, 121, 121);
    border-radius: 7px;
    margin: auto;
    margin-top: 28px;
    width: 100%;
    border-color: rgb(235, 235, 235);
    font-weight: 500;
}
.link-privacidad{
	color: rgb(169, 169, 169);
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}
.link-privacidad:hover{
	color: rgb(169, 169, 169);
	font-family: 'Raleway';
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}
.colla{
	cursor: pointer;
}
.blues{
	color:rgb(55, 86, 147);
	font-weight: 600;
}
.blue-alpha{
	color:rgb(55, 86, 147) !important;
	font-weight: 600;
}
.collapse.in{
	border: 1px solid rgb(216, 221, 228);
	background: rgb(253, 253, 253);
	margin: -34px -20px 0px;
    padding: 20px;
    padding-top: 40px;
}
.btnEnfermedades{
	color: rgb(255, 255, 255);
    font-family: 'Muli';
    letter-spacing: 1px;
    background-color: rgb(55, 86, 147);
    font-size: 14px;
    border-width: 0px;
    border-radius: 6px;
    border-color: rgb(216, 221, 228);
    text-align: center;
    height: 36px;
}
.btnEnfermedades:hover, .btnEnfermedades:visited, .btnEnfermedades:focus{
	color: rgb(255, 255, 255);
}
#alphabet{
	line-height: 32px;
}
#alphabet span{
	font-family: 'Poppins';
    letter-spacing: 4px;
    font-size: 19px;
    color: rgb(4, 21, 48);
    cursor: pointer;
}
.disclaimer{
	padding: 30px;
	background: rgb(235, 235, 235);
	border: 1px solid rgb(216, 221, 228);
}
.filtros{
	font-family: 'Questrial';
	font-size: 14px;
	color: rgb(132, 132, 132);
	font-weight: normal;
	padding-bottom: 20px;
}
.filtros span{
	cursor: pointer;
}
.filtro-activo{
	color: black;
}
.oscuro{
	color:rgb(128, 128, 128);
}
#alfabeto{
	cursor: pointer;
}
#estado{
	cursor: pointer;
}
.mailto:hover{
	color: #EE5686 !important;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.padding-especial{
		padding-right: 40px !important;
	}
	.centrado1{
		margin-top: 15px;
	}
}
@media screen and (max-width: 768px) {
	.centrado2 {
	    font-family: 'Raleway';
	    color: black;
	    font-weight: 600;
	    font-size: 24px;
	    position: absolute;
	    top: 25px;
	    left: 50%;
	    transform: translate(-50%, 25px);
	    width: 90%;
	    text-align: center;
	    line-height: 36px;
	}
	.centrado3 {
	    font-family: 'Raleway';
	    color: black;
	    font-weight: 600;
	    font-size: 26px;
	    position: absolute;
	    top: 25px;
	    left: 50%;
	    transform: translate(-50%, 25px);
	    max-width: 460px;
	    width: 100%;
	    text-align: center;
	    line-height: 36px;
	}
	.btnConoceMasC{
		position: absolute;
	    bottom: 25px;
	    left: 50%;
	    transform: translate(-50%, -15px);
	    width: 90%;
	    text-align: center;
	}
	.no-padding{
		padding: 0px !important;
	}
	.contacto-formulario{
		text-align: left !important;
	}
	.tituloEspecial{
		padding-left: 0px !important;
		margin-top:55px;
		margin-bottom:55px;
	}
	.titulosLeft{
		padding-left: 0px !important;
	}
	.overlay{
		width: 100%;
	}
	.overlay-content{
		padding-left: 0px;
		margin-top: 70px;
		top: 50px;
	}
  	/*Link de acceso a socios*/
	.solicite-consulta{
		height: 100%;
		float: right;
		width: 50%;
		border-left: 1px solid #FFF;
		line-height: 36px;
		font-family: 'Montserrat';
		font-size: 13px;
		color: white;
		text-align: center;
		cursor: pointer;
	}
	/*Link de acceso a socios*/
	.solicite-consulta-pacientes{
		height: 100%;
		float: right;
		width: 50%;
		background: rgb(0, 144, 81);
		border-left: 1px solid #FFF;
		line-height: 36px;
		font-family: 'Montserrat';
		font-size: 13px;
		color: white;
		text-align: center;
		cursor: pointer;
	}
	.entrada{
		padding: 30px 15px;
	}
	.buscar{
		width: 100% !important;
		margin-top: 10px;
	}
	.divide{
		column-count: 1;
	}
	.maxContentEntrada p{
		padding: 0px 0px;
	} 
	.maxContentEntrada{
	    padding: 0px 20px;
	}
	#header{
		width: 100%;
		background: rgb(5, 0, 23);
		height: 72px;
		line-height: 72px;
		position: fixed;
		top: 0;
		z-index: 999;
	}
	#logo{
		width: 190px;
		margin-top: 12px !important;
	}
	#contenedor-general{
		margin-top: 72px !important;	
	}
	.columnas{
		-moz-column-count: 1 !important;-moz-column-gap: 100px;-webkit-column-count: 1 !important;-webkit-column-gap: 100px;column-count: 1 !important;column-gap: 100px;
	}
	.tituloFormularios{
		font-size: 18px !important;
	}
	.div-agente-text {
	    width: 100% !important;
	    padding: 28px !important;
	    padding-left: 28px !important;
	    padding-top: 28px !important;
	    line-height: 32px !important;
	    float: left;
	}
	.agente-img-div{
		max-width: 100% !important;
	}
	
	.filtros select{
		width: 100% !important;
	    display: inline !important;
	    margin-bottom: 10px !important;
	}
	.div-filtros{
		float: none !important;
	    position: relative !important;
	    top: 30px !important;
	}
	.precio_detalle{
		color: rgb(132, 132, 132);
		font-family: 'Questrial';
		font-size: 16px !important;
		font-weight: normal;
	}
	.precio_detalle_cantidad{
		color: rgb(17, 22, 29);
		font-weight: 500;
		font-family: 'Poppins';
		font-size: 16px !important;
	}
	.video-360{
		width: 100% !important;
		margin-bottom: 0px !important;
	}
	.textos-detalle-propiedad{
		font-size: 17px !important;
	}
	.tituloPrincipalHome{
		font-family: 'Montserrat';
	    color: white;
	    font-weight: 600;
	    font-size: 22px !important;
	    margin: auto;
	    top: 280px !important;
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	    line-height: 36px !important;
	    width: 80%;
	}
	.input-custom{
		width: 100px !important;
	}
	.buscadorRight{
		margin-top: 18px !important;
	}
	
}

@media screen and (max-width: 767px) {
	.centrado1{
		left: 0 !important;
	}
}

